## Exercise 3: Sales Analysis Data Preparation

In this activity, we will use pandas features to derive some insights from a sales dataset. This will prepare us to answer the following questions:Which month had the highest sale? What is the monthly sales trend?

#### Loading the dataset

In [1]:
# importing the necessary dependencies
import pandas as pd

In [2]:
#1 load the "all_sales.csv" dataset
sales=pd.read_csv('all_sales.csv')

In [3]:
#2 display the first 5 of the dataset
sales.head(5)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

The dataset contains: 
- Order ID
- Product
- Quantity Ordered
- Price
- Order Date
- Purchase Address

In [4]:
#3 display the information that contains the number of columns, column labels, column data types, 
#  memory usage, range index, and the number of cells in each column (non-null values).

sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

In [5]:
#4 check the total number of blank rows
sales.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [6]:
sales.shape

(186850, 6)

In [7]:
#5 Remove all nulls/blanks using dropna() method.
sales.dropna(inplace=True)
sales.shape

(186305, 6)

In [8]:
#6 Create the 'Month' column from the 'Order Date' column using 
# sales_filtered['Month'] = sales_filtered['Order Date'].str[0:2]
#  display the first 5 of the dataset

sales['Month'] = sales['Order Date'].str[0:2]
sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04

In [9]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186305 entries, 0 to 186849
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
 6   Month             186305 non-null  object
dtypes: object(7)
memory usage: 11.4+ MB

In [10]:
#7 Convert data type of Month Column from object to integer using 
#  There will be ValueError: invalid literal for int() with base 10: 'Or'
sales['Month'].astype('int32')

ValueError: invalid literal for int() with base 10: 'Or'

In [11]:
#8 Create Or_dum dataframe to check the "Or's" in the Month Column using
#  display Or_dump first 5 rows

Or_dump = sales[sales['Month']=="Or"]
Or_dump.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or

In [12]:
#9 Remove "Or's" from the Month Column using
sales1 = sales[sales['Month']!='Or']

In [13]:
#10 Check whether "Or's" from the Month Column still exist. (Or's must be gone)

sales1['Month'].unique()

array(['04', '05', '08', '09', '12', '01', '02', '03', '07', '06', '11',
       '10'], dtype=object)

In [15]:
#10 Convert data type of Month Column from object to integer using 
#  There will be ValueError: invalid literal for int() with base 10: 'Or'
sales1['Month'] = sales1['Month'].astype('int32')

ValueError: cannot convert float NaN to integer

In [ ]:
#11 check the new number of columns
#    display sales first 5 rows

sales1.head()

In [19]:
#12 Convert Quantity Ordered and price each columns to the correct data type
sales1['Quantity Ordered'] = pd.to_numeric(sales1['Quantity Ordered'])
sales1['Price Each'] = pd.to_numeric(sales1['Price Each'])
sales1.info()

C:\Users\felom\AppData\Local\Temp\ipykernel_11324\2126628637.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales1['Quantity Ordered'] = pd.to_numeric(sales1['Quantity Ordered'])
C:\Users\felom\AppData\Local\Temp\ipykernel_11324\2126628637.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales1['Price Each'] = pd.to_numeric(sales1['Price Each'])

<class 'pandas.core.frame.DataFrame'>
Index: 185951 entries, 0 to Month
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  float64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   Month             185950 non-null  object
dtypes: float64(2), object(5)
memory usage: 11.3+ MB

In [18]:
#13 Add Cost column, where Cost = sales['Quantity Ordered'] * sales['Price Each']
#   display sales first 5 rows

sales1['Cost'] = sales1['Quantity Ordered'] * sales1['Price Each']
sales1.head()

TypeError: can't multiply sequence by non-int of type 'str'

The final dataset must contain the following columns: 
- Order ID
- Product
- Quantity Ordered
- Price
- Order Date
- Purchase Address
- Month
- Cost

##### **Data Visualization (Total Sales Per Month)**

In [17]:
#creates an array and stores the total sales per month
total_sales = sales1.groupby('Month')['Cost'].sum()
total_sales

KeyError: 'Column not found: Cost'

In [16]:
#creates a list of unique months
month = sales1['Month'].dropna().unique()
month

array(['04', '05', '08', '09', '12', '01', '02', '03', '07', '06', '11',
       '10'], dtype=object)

In [ ]:
import matplotlib.pyplot as plt

month_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
month_labels = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

plt.xticks(month_numbers, month_labels)
plt.ticklabel_format(style='plain', axis='y')

plt.xlabel('Month', labelpad= 10)                 
plt.ylabel('Total Sales', labelpad= 10) 

plt.bar(month, total_sales)

plt.show()